@font-face {
  font-family: 'Gilgan';
  src: url('./assets/fonts/gilgan/Gilgan.otf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'tt_bluescreens';
  src: url('./assets/fonts/tt_bluescreens/TT\ Bluescreens\ Trial\ Light\ Italic.ttf') format('truetype');
}

.reserva-icon img {
  border-radius: 50%;
  width: 90px;
  overflow: hidden;
  position: fixed;
  bottom: 60px;
  right: 70px;
  z-index: 1000;
  background-color: #fff89c;
  transition: 180ms linear;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.reserva-icon img:hover {
  width: 100px;
  background-color: #fff349;
}
